<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/article.css'/>
</head>
<body>
  <div class="container">

<div class="row">

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WomenInCoding</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="/article">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

</div>

<div class="row">
  <div class="jumbotron one">
  <h1>I'm a Woman Who Learned to Code and, Honestly, It Changed My Life</h1>
  </div>
</div>


<div class="row">
  <div class="panel-body">
    <p>Last weekend, I, along with more than 2,500 other women, attended a conference breaking down the importance of self actualization. The conference was led by one of those popular, female-empowerment gurus, a high-energy motivationalist who talked unironically about mastering our own destiny, building our best lives, and learning to “embrace our inner radiance. Prior to all that destiny mastering and best-life building, the guru invited us to share the experiences that had led us there that day. One by one, brave women stood up and told different versions of the same sad story: tales of professional hopelessness, personal tragedy, of circumstances so dire they now believed their last and only recourse was to embark upon a weekend of empowerment with this self-proclaimed revolution. After hearing our collective tales of woe, the guru assuaged our fears and desperation with “inspirational” tales of women who had previously attended the conference, women just like us who learned—gasp!— to believe in themselves and then suddenly, like magic, their whole lives were changed for the better.
    </p>

    <p>They opened up their dream yoga studio! They started to love their bodies! They banged that hot, young neighbor! Hearing these success stories, many of my fellow women cooed. They applauded, they cheered. Meanwhile, I stewed.Don’t get me wrong: I'm on board the manifestation train. My Instagram is a vision board of inspirational quotes and affirmations. I’ve read every book I could find on creating wealth and personal happiness. And not to toot my own metaphysical horn, but I, myself, am a quasi poster child for manifestation magic. Once, before a big interview, I maxed out a credit card on a pair of Manolo Blahnik pumps that obliterated my impostor syndrome and made me feel every inch the powerful, warrior queen I am. My thinking was that if I showed up truly believing I was a boss then they would believe it, too (they did and hired me). But telling groups of marginalized peoples (like women and especially women of color), against whom the societal cards are already very much stacked, that simply “believing in themselves” is the secret to getting what they want out of life is not only preposterous, it’s disingenuous, it’s poisonous—you could go so far as to call it traitorous. This type of thinking implies that the problem lies within us, the marginalized, the oppressed, within our attitudes, and not the fault of the inherently sexist, racist, and classist society we must struggle to thrive within. It’s the same faulty logic that supposes “poor people are too lazy to work hard.” That says “Black Americans living in the lower class don’t have the motivation or willpower to pull themselves out of poverty,And worse: that kind of oppressive mindset is ubiquitous, it’s systematic, it can’t be voided by good vibes or a morning pep-talk.I’m not saying you shouldn’t believe in yourself. Please do. If I could tell you one thing, it’s that you are strong and capable. You are in possession of worldviews and experiences that no one else has and that alone has immense, precious value. That makes you special and unique.But you need more than your inherent wonderfulness to achieve the life you want and deserve.You need a map, a map with options, with multiple pathways and routes; you need a map with information on where you can go to make that life happen. For me that map was coding.I grew up in a trailer. In Missouri. As a kid, no one ever mentioned software engineering as a career option. I was vaguely aware that programming existed, but I didn’t know how anyone did it, who those people might be, or that I could someday be one of them.
    </p>
     <p>My high school didn’t offer coding classes. What I knew about programmers I gleaned from TV and media, where coders were presented as genius-level, unshaven, hoodie-wearing dudes—certainly not for a creative-minded lady like myself.This lack of information (or misinformation) would have completely blocked my current career were it not for a few happy accidents that shifted my occupational trajectory (details I’ll save if only because a map should consist of reliable directions, not timing or circumstance.) And as I sat in that conference for two whole days listening to speeches on reclaiming my power, all I could think about was that same information that had been kept from me was also barring these women from lives they might want to live. No one had told them—no one was telling them—that coding is one of the few careers that can take you truly extraordinary places without extraordinary experience. That it is one of the few highly prestigious and well-paid careers that you can teach yourself entirely online and with nearly no financial resources.That you can be a programmer without a college degree and you can start learning to code when you’re 5 or 25 or 75—there is never a time that’s too early or too late. That you do NOT have to be a whiz in math and science to be a coder. There are different types of programming. Some of it involves complex problem-solving that, yeah, it would probably be good if you were decent at math. But other types are artistic and creative. And that all of it boils down to just the ability to think about and solve problems and the ability to remember some commands to type into files that eventually become websites or apps.Is coding difficult? Yes, god yes.
     </p>
     <p>Life as a developer takes serious willpower, discipline, and resiliency. You must have not only a stomach for failure, but also an appetite for it. Because no matter how much you learn, you will never feel truly settled in; you will have to learn something new every single day to stay relevant and you will need to kill off most of your ego and accept that you will never know everything there is to know.But luckily the qualities required to succeed aren’t lacking in our underserved communities. What marginalized groups lack are resources and opportunities. More importantly, what they lack is exposure to the fact that this path, this map, actually exists. That they have more options than a just few desperate hours with a life coach. That YOU have more options.I briefly mentioned my upbringing and early childhood circumstance not as a “look at me, look how far I’ve come” but to highlight that a career as a coder is possible for anyone, from any background. And thanks to coding, at 28, now I do have the life I always wanted. I spend my day doing work I love, surrounded by wonderful people, for a company that, as a poor kid from Missouri, I could only have dreamed of.Now, I’ll be honest, by pitching coding as a career path, I am somewhat putting forward my own agenda, my own want. Because the truth is I want more women in tech. We need more women in tech (and, let’s face it, everywhere).
     </p>
     <p>Empowered women thrive when surrounded by other empowered women, and more of you having tech careers doesn’t just build you up, it builds me up. And to any of the 2,500 women who sat by as some self-appointed oracle preached to them the ultimate value of a positive mindset, who suggested we dismantle the patriarchy by simply adjusting our attitude, please, if you’re considering a career change, if you want a new path or new opportunity, consider coding. I swear, by virtue of what it takes to simply exist as a woman in today’s society, you have everything you need to succeed. And once you have you won’t need the retreat, the guru, or the affirmations. You’ll be living your best life; your affirmation will be the world laid out at your feet.
    </p>

    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-primary">Delete</a></button>
  </div>
  </div>

 <div class="jumbotron two">
      <h1>Women Who Code Conference</h1>
    </div>
      </div>

      <div class="row">
      <div class="panel-body">
        <p>This past weekend I attended my first tech conference, and I had so much fun. I want to say that for the majority of the time I was just in awe of everything, I went by myself and I still has a great time, I was a very inclusive environment and I ended up meeting a bunch of cool people.
        </p>
        <p>One thing that I realized is that everyone was so open to give advice and help others. Honestly just being at the Twitter HQ made me happy and being surrounded by so many great women who are changing the status quo of the tech industry was amazing. The speakers shared their struggles, triumphs, and success letting the audiences know that with hard work and dedication you can be anything you want. It's crazy the amount of influence the tech industry is having on the world; I remember one of the speakers saying that every industry is turning into a tech industry and that is so true technology plays such a vital role in our day to day life. This was my first but definitely not my last tech conference! Though I am more interested in the business side of tech, I still think it's important to know how to code a little. This was such a fun experience, and even if you have the smallest interest in that industry I highly recommend checking it out, you might be surprised and like it.... a lot!
        </p>

        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary">Delete</button>
      </div>
      </div>

      <div class="jumbotron three">
        <h1>Global Editathon: Making Women in Tech Visible</h1>
      </div>
      </div>

        <div class="row">
        <div class="panel-body">
          <p>Why is it necessary to “edit” the biographies of women who are doing an incredible job on issues of technology and the Internet? Simple: the contributions of these women do not have visibility on the Internet. At many Internet Governance forums, we often highlight the contributions of the founding fathers, but how do we inspire girls to join ICTs – information and communication technologies – if we never mention women?The question of why we don’t make their work visible has become more urgent than ever.
          </p>
          <p>Where are these women in events with mostly men at panels? Because of the invisibility that exists for women in technology, we still believe that talking about technology is talking about men. The task was not simple. It required the support of many people who joined this great project, first to make visible these women who are making a difference in ICT who are not on Wikipedia, second to gather information and organize nodes in their countries.The challenge now is inviting more women to participate, interviewing other women, listening to each other and listening to them at events. We need to know more about these women. Let’s continue editing, creating, and disseminating their work. If we are not the ones who write about other women and encourage others to do the same, who will? We need to be able to inspire girls to be engineers, mathematicians, programmers, and leaders and one way to achieve this is to get to know these “super women” who have worked hard so that today we can study without prejudice. Our thanks to all those who joined: the Chapters that organized face-to-face nodes, the organizations and universities with which we teamed up, the Wikimedia Foundation for their advice, ICANNWiki for helping us with the workshop, and all those who supported us and participated in this incredible event. Thank you.
          </p>
          <button type="button" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-primary">Delete</button>
        </div>
        </div>


<script src="javascript/javascript.js"></script>

</script>
</body>
</html>
